<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Display_Course_Introduction_Teacher</servlet-name>
        <servlet-class>Controller.Display_Course_Introduction_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Excercise_Teacher</servlet-name>
        <servlet-class>Controller.Display_Excercise_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_CourseIntroduction_Teacher</servlet-name>
        <servlet-class>Controller.Process_CourseIntroduction_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Excercise_Teacher</servlet-name>
        <servlet-class>Controller.Process_Excercise_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Excercise_Student</servlet-name>
        <servlet-class>Controller.Display_Excercise_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Excercise_Student</servlet-name>
        <servlet-class>Controller.Process_Excercise_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileController</servlet-name>
        <servlet-class>Controller.UploadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Part_Teacher</servlet-name>
        <servlet-class>Controller.Display_Part_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>Controller.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse_Student</servlet-name>
        <servlet-class>Controller.AddCourse_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Course</servlet-name>
        <servlet-class>Model.User_Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_CourseDB</servlet-name>
        <servlet-class>DAO.User_CourseDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>Model.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDAO</servlet-name>
        <servlet-class>DAO.RegistrationDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Part_Teacher</servlet-name>
        <servlet-class>Controller.Process_Part_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_Part_Student</servlet-name>
        <servlet-class>Controller.Display_Part_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartFiles</servlet-name>
        <servlet-class>Model.PartFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartFilesDB</servlet-name>
        <servlet-class>DAO.PartFilesDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Display_Course_Introduction_Teacher</servlet-name>
        <url-pattern>/Display_Course_Introduction_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Excercise_Teacher</servlet-name>
        <url-pattern>/Display_Excercise_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_CourseIntroduction_Teacher</servlet-name>
        <url-pattern>/Process_CourseIntroduction_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Excercise_Teacher</servlet-name>
        <url-pattern>/Process_Excercise_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Excercise_Student</servlet-name>
        <url-pattern>/Display_Excercise_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Excercise_Student</servlet-name>
        <url-pattern>/Process_Excercise_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileController</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Part_Teacher</servlet-name>
        <url-pattern>/Display_Part_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/StudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse_Student</servlet-name>
        <url-pattern>/AddCourse_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Course</servlet-name>
        <url-pattern>/User_Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_CourseDB</servlet-name>
        <url-pattern>/User_CourseDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDAO</servlet-name>
        <url-pattern>/RegistrationDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Part_Teacher</servlet-name>
        <url-pattern>/Process_Part_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_Part_Student</servlet-name>
        <url-pattern>/Display_Part_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartFiles</servlet-name>
        <url-pattern>/PartFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartFilesDB</servlet-name>
        <url-pattern>/PartFilesDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
             <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>HeaderSecurityFilter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HeaderSecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>loadSalt</filter-name>
        <filter-class>filter.LoadSalt</filter-class>
    </filter>
        <filter-mapping>
        <filter-name>loadSalt</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<filter>
    <filter-name>validateSalt</filter-name>
    <filter-class>filter.ValidateSalt</filter-class>
</filter>
<!--<filter-mapping>
    <filter-name>validateSalt</filter-name>
    <url-pattern>/get-password</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>validateSalt</filter-name>
    <url-pattern>/send-email</url-pattern>
</filter-mapping>
<filter-mapping>
    <filter-name>validateSalt</filter-name>
    <url-pattern>/sign-in</url-pattern>
</filter-mapping>-->
    

</web-app>
