/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2021, 9:58:34 AM
    Author     : A556U
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2020, 2:58:48 PM
    Author     : A556U
*/
/*h2
{
    padding: 10px 50px 10px 50px;
    color: white;
    background-color:#3A01DF ;
    border-radius: 10px 10px 10px 10px;
}
.div_menu
{
    height: 100px;
    background-color: blue;
    border-bottom:2px outset #b1154a;
    box-shadow: 0px 5px 5px gray;
    display: flex;
    justify-content: space-between
}

.div_logo
{
    margin-left: 10%;
    width: 200px;
    height: 100%;
    display: flex;
    background-color: red;
}

#image_logo
{
    width: 100%;
    height: 100%;
    
}


#div_account
{
    height: 100%;
    width: 200px;
    display: flex;
    margin-right: 10%;
}

#label_account
{

    font-family: Time New Roman;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;*/
/*}*/

/*body div*/
.div_container
{
    margin-left: 10%;
    margin-right: 10%;
}

.div_mucTieu
{
    width: 100%;
    background-color: red;
/*    padding-right: 50px;
    padding-left: 50px;*/
padding-bottom: 20px;
    background-color: #BDBDBD;
     border-radius: 10px 10px 10px 10px;
}



#textarea_mucTieu
{
    height: 100px;
    width: 90%;
    resize: vertical;
    font-size: 18px;
    font-family: Time New Roman;
    margin: 0 5% 0 5%;
}



/*course content*/
.div_noiDung
{
    width: 100%;
    height: auto;
    margin-top: 50px;
    /*background-color: red;*/
    padding-bottom: 20px;
    background-color: #BDBDBD;
     border-radius: 10px 10px 10px 10px;
}

#courseName
{
    width: 90%;
    height: 80px;
    font-size: 30px;
    color: #b1154a;
    margin: 0 5% 0 5%;
}

.div_chap
{     
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}



.chap
{
    display: block;
    width: 90%;
    font-family: Time New Roman;
    font-size: 18px;
    margin-top: 10px;
}

.textbox_part
{   
    display: block;
    width: 90%;
    font-family: Time New Roman;
    font-size: 18px;
    margin-top:10px;
    margin-left: 10%;
    /*float: right;*/
}



.textbox_chap{
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
    display: block;
    width: 100%;
    font-family: Time New Roman;
    font-size: 18px;
    margin-top:10px;
}
.btn_add_chap{
    padding: 8px 16px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 5%;
    background-color: #2E64FE;
    font-size: 17px;
}
.btn_standardize_chap{
    padding: 8px 16px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 10px;
     background-color:#F4FA58;
     font-size: 17px;
}

.btn_add_part
{
    display:block;
    background-color: green;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: 5px;
}

.link_goto_Part
{
    margin-top: 5px;
    background-color: #B40486;
         margin-left: 50%;
          color: white;
}

.link_goto_Excercise
{
    margin-top: 5px;
    margin-left: 5px;
    background-color: #DF3A01;
    color: white;
}

/*instructor info*/
.div_part3_instructor
{
    margin-top: 50px;
    /*background-color: blue;*/
    background-color: #BDBDBD;
     border-radius: 10px 10px 10px 10px;
    
}

#div_all_instructor
{
    display: flex;
    width: 100%;
    flex-flow: wrap;
}

.div_instructor
{
    margin-left: 20px;
    margin-top: 20px;
    height: 150px;
    display: flex;
    /*background-color: blue*/
}

.div_instructor_image
{
    height: 100%;
    width: 150px;
    /*background-color: red;*/
}

.instructor_image
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
}

.div_instructor_information
{
    display: flex;
    flex-direction: column;
}

.input_instructor_name
{
    font-size: 17px;
    margin-left: 10px;
    font-weight:bold;
}

.input_instructor_disription
{
    font-size: 17px;
    margin-left: 10px;
    font-style: italic;
    margin-top: 10px;
}

.label_upload_image
{
    margin-left: 10px;
    cursor: pointer;
    color: #DF3A01;
}

.button_remove_instructor
{
        width: 25px;
        height:25px;
     margin-left: 10px;
     background-color: #DF0101;
     font-weight: bold;
     color:white;
     font-size: 18px;
         border-radius: 50%;
}

#button_add_instructor
{
     padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 20%;
    background-color: #086A87;
    color: white;
    font-weight: bold;
}

/*Frequently answer questin*/
#div_part4_FAQ
{
    margin-top: 50px;
    background-color: #BDBDBD;
     border-radius: 10px 10px 10px 10px;
}

#div_FAQ
{     
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.textarea_question
{
   width: 100%;
   resize: vertical;
   font-size: 17px;
   font-family: Time New Roman;
/*   background-color: blue;
   color:red;*/
}

.textarea_answer
{
   width: 90%;
   resize: vertical;
   font-size: 17px;
   font-family: Time New Roman;
   margin-left: 10%;
}


#button_add_FAQ
{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 10px;
    background-color: #086A87;
    color: white;
    font-weight: bold;
}

/*Save button*/
.div_save
{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    display :flex;
    justify-content: center;
}

#button_save
{
    width: 200px;
    font-weight: bold;
    background-color: #31B404;
    font-size: 18px;
    color:white;
    padding: 5px 20px 5px 20px;
}

#button_profile
{
     width: 200px;
    margin-left: 20px;
      font-weight: bold;
    background-color: #045FB4;
    font-size: 18px;
    color:white;
    padding: 5px 20px 5px 20px;
}

#button_newCourse
{
    width: 200px;
    margin-left: 20px;
      font-weight: bold;
    background-color: #B40431;
    font-size: 18px;
    color:white;
    padding: 5px 20px 5px 20px;
}
/*Footer*/
.footer{
    margin-top: 50px;
    background-color: #FCFCFC;
    margin-left: 10%;
}

    .footer .small-container{
        display: flex;
        flex-wrap: wrap;
    }


    .footer .small-container ul{
        list-style-type: none;
        padding-left: 15px;
    }

    .footer .small-container .icon-logo{
        background: url("logo.png") no-repeat;
        background-size: 240px 120px;
        background-position: center;
        height: 150px;
        width: 250px;
        cursor: pointer;
    }

.info-member{
    display: flex;
    flex-wrap: wrap;
}

.member-detail{
    border-right: 1px solid #000;
    padding: 0 20px 0px 20px;
    margin-right: 30px;
    min-width: 200px;
    width: 200px;
}

.copyright{
    text-align: center;
    padding-bottom: 10px;
}